
/* for sales page */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
table {
  text-shadow: black;
  border: 1px solid black;
  background-color: khaki;
}
td {
  border: 1px solid black;
}
tr {
  border: 1px solid black;
}
tbody {
  border: 1px solid black;
}
thead {
  border: 1px solid black;
}
th {
  border: 1px solid black;
}
tfoot tr {
  border: 1px solid black;
}
#form-a {
  display: grid;
  grid-template-columns: 400px 400px;
}
#form-b {
  display: grid;
  grid-template-columns: 400px 400px;
}
input {
  float: right;
}



/* end of sales page */

/* for index page */


body {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  background-color: blanchedalmond;
  
}
header {
   color: rgb(73, 73, 73);
   text-align: center;
   text-shadow: 2px 2px chocolate;
   margin-top: 10px;
   font-family: 'UnifrakturCook', cursive;

 }
 h1 {
  color: rgb(73, 73, 73);
  text-align: center;
  text-shadow: 2px 2px chocolate;
  background-color: coral;
 }
h2 {
   color: black;

 }
img {
   height: 400px;
   width: 400px;
 }
#a {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 30px;
  margin-top: 90px;
  grid-gap: 30px;
  background-color:chocolate;
  padding: 10px;
  padding-bottom: 40px;
  justify-content: center;
 }
#b {
   display: grid;
   grid-template-columns: 400px 400px 400px;
   margin: 30px;
   margin-bottom: 20px;
   grid-gap: 30px;
   background-color:chocolate;
   padding: 10px;
   padding-bottom: 40px;
   justify-content: center;
 }
p {
   color: black;
   font-size: large;
 }
#store-form {
   color:black;
   width: 700px;
   height: 700px;
   border: thin purple 5px;
 }
label {
  float: left;
}
table {
  color:red;
  text-shadow: darkslategrey;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section {
  font-family: 'Times New Roman', Times, serif
}
header {
  background-image: url('salmon.png');
  height:250px;
  background-repeat: no-repeat;
  background-position: center;
}
